/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* Common style */
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;

   
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
   padding-bottom: 50px;
}

.menu{
    position: relative;
    display: flex;
    align-items: center;
}

.menu a{
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    display: inline-block;
    margin: auto 20px;
}

.menu a img{
    width: 40px;
} 


/* -------------------------
    Navbar section start
------------------------- */

.navbar{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;

    
  

}
.nav-container{
    width: 60%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
/* button area start */
.link-button:hover{

    background-color:orange;
}
.link-button
{
    text-decoration: none;

    background-color: rgba(224, 44, 109, 1);
    padding: 15px 40px;
    color: white; 

    font-weight: 700;
    transition: width 1s, height 1s, transform 2s;
    
    
}
.link-button:hover{
    transform: rotate(30deg);
    background-color:orange;

}




/* button area end */






/* ------------------------
  Player section 
------------------------ */
.players{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 25px auto;
    

}

.player{
    margin: auto 80px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 1px 1px 7px lightgray;
    margin-bottom: 20px;
    transition: width 1s, height 1s, transform 2s;
   
}
.player:hover{
    box-shadow: 1px 1px 7px yellow;
    transform: rotate(-180deg);
    

}
.flexible-container
{
   display:flex;
   margin-bottom: 150px;
   padding-top: 30px;
   padding-bottom: 190px;
 
   
}
.half-width
{
    width: 100%;
    padding-left: 5%;
    transition: width 1s, height 1s, transform 2s;
    
}
.half-width img:hover{
  

    transform: rotate(40deg);
    
    }
.half-width img
{
    width:80%;

  
}

.white{
    color:white;
    font-size: 64px;
    font-style: bold;
   
    
    
}

.banner{
    width: 92%;
}
.banner img{
    width: 100%;
    margin: 4% 4% auto 4%;
    display: inline-block;
   
}


.player-details{
    width: 92%;
    margin: 0px 4% auto 4%;
}

.player-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.player-name{
    font-size: 19px;
    font-weight: 500;
    margin-top: 10px;
}

.player-data{
 
    font-size: 15px;
}

/* Player section end */

/* Highlight style start */
.highlight-frame
{   margin-top: 60px;
    padding-left: 200px;
   
    display:flex;
    

}
.img-width img{
    width: 80%;
    height: 90%;
    padding-left: 5%;
}
#hFont{
    font-size:50px;
    font-weight: bold;
}


/************** Highlight style end ***************/

 /* subscriber style start  */
.subscriber{
    background-color: black;
    color: white;
    width:100%;
    height: 50%;
    padding-left: 200px;
    text-align: center;
}


.form {
    display: flex;
  
    padding-bottom: 100px;
}
 

 .form input,
button {
    font-size: 1.3em;
    margin-top: 20px;
    border: 1px solid lightgray;
    padding-left: 100px;
    border-radius: 5px;
}
.images-width img{
    width: 100%;
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
    
}

/* Information style start */
* {
    box-sizing: border-box;
  
  
  }
  

  .column {
    float: left;
    width: 460px;
    height: 50%;
    padding-left: 200px;
    padding-bottom: 200px;
    height: 500px; 
  }
  
 
  .row:after {
    content: "";
    display:flex;
    clear: both;
  }
  /* Information style end */

/* Footer area style start */

footer {
    text-align: center;
    padding: 3%;
    color:black;
    
    
    
  }
  .image-width{
    text-align: center;
}
.image-width img{
    width: 45px;
}
  .orange{
    color: orange;
    font-size: 40px;
  }
  .orange img{
      width: 35%;
  }
  .gray
  {

    font-size: 20px;
  }
  
/* Footer area style end */

  /* Media Queries */
/* Mobile Device */
@media only screen and (max-width:688px){

    .container{
        width: 100%;
    }
    /* .flexible-container,.highlight-frame,.row,.column,.container,.images-width{
       
        display: none;
    } */
    .players {
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
        
    }
    /* .highlight-frame,.half-width img{
        display: none;
    } */
    .nav-container{
        display: none;
    }
    /* #hFont{
        font-size: 20px;
    } */ 
 .highlight-frame{ 
        /* display: none; */
         padding-right: 20px;
        padding-left: 18px; 

    }
    .half-width img{
        width: 100%;
        padding-top: 5%;
        
    } 
   .row,.column{
       width: 100%;

   }
}

    

/*--------------- 
tablet devices 
--------------*/
 @media screen and (min-width: 688px) and (max-width:992px)  { 
    .container{
        width: 100%;
    }

    .players {
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
        padding-right: 50px;
    }
    .highlight-frame{ 
        /* display: none; */
        padding-right: 20px;
        padding-left: 18px;

    }
    .half-width img{
        width: 100%;
        padding-top: 5%;
        
    } 
   .row,.column{
       width: 100%;

   }
    .players,.image-width,.flexible-container,.container,.half-width {
        grid-template-columns: repeat(1, 1fr); 
     }
    .nav-container{
        display: none;
    }
}

